h1 {
  text-align: center;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 1%;
}

body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      0deg,
      transparent calc(100% - 1px),
      #f0f0f0 calc(100% - 1px)
    ),
    linear-gradient(
      90deg,
      transparent calc(100% - 1px),
      #f0f0f0 calc(100% - 1px)
    );
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
}

.form {
  max-width: 300px;
  padding: 40px;
  background-color: #f2f2f2;
  margin: auto;
  border-radius: 5px;
}

.timezone {
  color: #5555;
  text-align: center;
  margin-bottom: 1%;
}

.button-container {
  margin: auto;
  padding-top: 1%;
  text-align: center;
}
